@import 'bower_components/bluemix-components/styles';
@import 'functions';
$browser-context:16;
$dark-blue: #152934;
$darker-blue: #0f212e;
$bright-blue: #5AAAFA;
$light-font: #ffffff;

body{
  font-size: 16px;
  box-sizing: border-box;
}

.bluemix-header{
  position:static;
}

/* Slideout
~~~~~~~~~~~~~~~~~~~ */
.content{
  position:relative;
  display:flex;
}
.slideout__header__close{
  width:ems(20);
}

.slideout{
  width: ems(305);
  height:100vh;
  background-color: $dark-blue;
  color: $light-font;
}

.slideout__header{
  display:flex;
  justify-content: space-between;
  background-color: $darker-blue;
  height: ems(50);
  padding:0 ems(20);
}


/*
Progress Dots
~~~~~~~~~~~~~~~~~~~~~ */
.progress-dots ul{
  width:100%;
  display:flex;
  align-items: center;

  li{
    padding:ems(1);
  }
}

.nav-dot{
  width:ems(10);
  height:ems(10);
  border-radius:50%;
  border:1px solid $bright-blue;
  transition:background-color 0.5s;

  &.fill{
    background-color:$bright-blue;
  }

  &-divider{
    height:ems(1);
    width:ems(20);
    border-top:1px solid $bright-blue;
  }
}
/*
  Guides
~~~~~~~~~~~~~~~~~~~~~ */
.guide{
  align-items: center;
  border-left:8px solid $bright-blue;
  display:flex;
  font-size:ems(14);
  margin:1px 0;
  min-height:ems(76);
  width:100%;
}
.guide__wrap{
  display:flex;
  justify-content: space-between;
  align-items:baseline;
}
.guide__content{
  padding:0 ems(6) 0 ems(30);
  flex-flow:4;
}
.guide__status{
  font-size:ems(12);
  margin-right:ems(5);
  align-self:flex-start;
  flex-flow: 1;
}
.guide__title{
  font-weight: bold;
}

/*
TYPOGRAPHY
~~~~~~~~~~~~~~~~~ */

.title{
  font-size: ems(20);
  font-weight: bold;
  margin:ems(27) ems(40) ems(20) ems(40);
}

